body {
    display: flex;
    flex-direction:column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header, footer, .firstSection {
    background-color: #1F2937;
}

header, .firstSection {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
}

.firstSection {
    padding: 100px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.navLink, .heroSecondary, .signUp {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.heroMain {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

button {
    background-color: #3882F6;
    border: 0;
    padding: 5px 10px;
    border-radius: 3.5px;

}

.secondSection {
    padding: 50px 100px 75px 100px;
}


.thirdSection {
    background-color: #E5E7EB;
}

h3 {
    font-size: 36px;
    color:#1F2937;
    text-align: center;
    margin: 0;
}

.randomInfo {
    font-weight: bolder;
    padding-bottom: 15px;
}

.fourImages {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.imageText {
    width: 125px;
    text-align: center;
    margin: 0;
    font-size: 18px;
    color: #1F2937;
}